.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 0;
}
.header {
  background-color: #95a5a6;
  color: black;
  padding: 14px;
  width: 100%;
}
.form {
  margin-top: 15px;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}
.data_val {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  padding: 5px 10px 5px 10px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
